:root {
  --color-bg-primary: #253334;
  --color-bg-secondary: #253334;
  --color-bg-card: #fff;
  --color-text-primary: #fff;
  --color-bg-primary-hover: #69b09c;
  --color-text-secondary: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Alegreya', serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.container {
  padding-top: 100px;
  max-width: 1170px;
  margin: 0 auto;
}
